spring:
  application:
    name: flashyBank
  datasource:
    url: jdbc:postgresql://localhost:5432/flashybank
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: false

jwt:
  secret: claveSuperSecretaParaFirmarTokensConAlMenos256BitsParaHSASeguro
  expiration: 604800000 # 7 días en milisegundos
  refresh-expiration: 1209600000 # 14 días en milisegundos

server:
  port: 8080
